.App {
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;

  flex-direction:column;
}

.app-background {
    background-image:url('./book_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

*{
	box-sizing:border-box;
}