.App {
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-image:url('./book_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction:column;
}