.friendList {
	background-color: #0000008a;;
	padding-top: 50px;
}

.friendList h2 {
	color: white;
	text-align: center;
	margin-bottom: 0;
	cursor: default;
}

.friendList hr{
	border-bottom-width: 0;
}