.friend {
	width:100%;
	padding:20px;
	border-bottom:1px solid black;
}

.friend > .friend_pic {
	height:50px;
	width:50px;
	border-radius:50%;
	vertical-align:middle;
}

.friend > .friend_username {
	margin-left:5px;
}