.friend {
	width: 100%;
	padding: 20px;
	cursor: pointer;
}

.friend .friend_pic {
	height:50px;
	width:50px;
	border-radius:50%;
	vertical-align:middle;
}

.friend .friend_username {
	margin-left: 5px;
	font-size: 18px;
	color: cyan;
}

.friend:hover {
	color: white;
	background: #00000091;
}
.friendList{
	color:white
}
.friendList>div>a{
	background-color: rgba(64, 64, 255, 0.733);
	color: white;
	border-radius: 6px;
	padding: 0.1em;
	cursor: pointer;
}
.friendList>div{
	margin-bottom: 0.5em;
}