.groupProfile {
	padding-top:50px;
	background-color: #0000008a;;
	padding-top: 50px;
	overflow-y: scroll;
	color: white;
}

.groupProfile input{
	background-color: #0000008c;
}

.groupProfile button {
	padding: 0.6%;
}

.groupProfile hr {
	display: block;
	unicode-bidi: isolate;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	margin-inline-start: auto;
	margin-inline-end: auto;
	overflow: hidden;
	border-style: inset;
	border-width: 1px;
}

.members-list ul {
	display: block;
	margin-left: -10px;
  }
  
.members-list ul li {
	display: block;
	position: relative;
  }
  
.members-list ul li:not(:last-child) {
	margin-bottom: 16px;
  }
  
.members-list ul li:before {
	content: "";
	position: absolute;
	top: 1.2em;
	left: -30px;
	margin-top: -.9em;
	background: #f69ec4;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background: linear-gradient(45deg, #f69ec4, #f9dd94);
  }