.sidecontent {
	background-color: #0000008a;
	padding-top:50px;
	color:white
}
.finishBook{
	cursor: pointer;
	color:white;
}
.finishBook:hover{
	border: 1px solid yellow;
}
.bookID{
	font-weight: 600;
}
.bookID::after{
	content: "|";
}
.bookID:visited{
	color:white;
}